body{
	background: black;
}
.square{
	background: pink;
	padding-bottom:100px;
	margin:1.66%;
	width: 25%;
	float: left;
	border-radius: 20px;
}
#container{
	max-width: 600px;
	margin:0 auto;
}
h1{
	color: white;
}
#easy{
	background: white;
}
#hard{
	background: white;
}